# MongoDB Atlas or Local Connection String
# e.g., mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/healthscreen_ai
MONGODB_DB=healthscreen_ai

# Environment
NODE_ENV=development
